@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* CUSTOM COLOR 
      Phong cách Retro Futuristic / Vaporwave / Soft Neon
      - Không hoàn toàn là “neon chói lọi” (neon truyền thống: #ff00ff, #00ffff, #00ff00, ..., #FF0000, #FFFF00)
      - Nhưng cũng không phải pastel thuần tuý (vốn thiên về muted & earth tone)
      - Cặp này nằm ở giao điểm giữa pastel và neon, đặc biệt trong các thiết kế Vaporwave, Synthwave, hoặc UI mang chất sci-fi nhẹ nhàng

    COLOR SCHEME
    Primary    : Tím sáng retro     (#cbacf9)
    Secondary  : Xanh baby pastel   (#acd8f9)
    |
    Accent		 : Cam pastel ấm      (#f9d7ac)
    Tertiary	 : Tím hồng nhạt      (#e9acf9)
    Success	   : Xanh lá chanh sáng (#c9f9ac)
    Error		   : Đỏ đào pastel      (#f9acac)
    Info		   : Xanh ngọc sáng     (#acf9f3)
    |
    Background : Đen tím smoky	    (#1e1e2f)
    Foreground : Trắng tím ngà      (#fdfdfe)
   */

  /* === Black === */
  --color-black: rgba(0, 0, 0, 1);
  --color-black-100: rgba(0, 3, 25, 1);
  --color-black-200: rgba(17, 25, 40, 0.75);

  --color-overlay-white: rgba(255, 255, 255, 0.125);
  --color-lavender: #bec1dd;
  --color-cool-gray: #c1c2d3;

  /* === Custom Colors === */
  --color-purple: #cbacf9;
  --color-blue: #acd8f9;
  --color-orange: #f9d7ac;
  --color-pink: #e9acf9;
  --color-green: #c9f9ac;
  --color-red: #f9acac;
  --color-cyan: #acf9f3;

  /* ACETERNITY UI */
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;
  --animate-meteor-effect: meteor 5s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e2f;
    --foreground: #fdfdfe;
  }
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }
  .content-custom {
    @apply text-xs sm:text-base lg:text-xl;
  }

  .title-custom {
    @apply text-xs md:text-base lg:text-xl;
  }
  .sub-title-custom {
    @apply text-xs md:text-sm lg:text-base;
  }

  .title-card {
    @apply text-[8px] md:text-[12px] lg:text-[16px];
  }

  .container-item-grid {
    @apply absolute w-full h-full flex items-center justify-center;
  }

  /* ----------------------------------------------------------------------- */

  .bg-gradient-custom {
    background: rgb(4, 7, 29);
    background: linear-gradient(
      90deg,
      rgba(4, 7, 29, 1) 0%,
      rgba(12, 14, 35, 1) 100%
    );
  }
}

/* ------------------------------------------------------------------------- */
/*                               ACETERNITY UI                               */
/* ------------------------------------------------------------------------- */

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@keyframes meteor {
  0% {
    transform: rotate(215deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(215deg) translateX(-500px);
    opacity: 0;
  }
}

/* ------------------------------------------------------------------------- */
/*                                CSS LOADERS                                */
/* ------------------------------------------------------------------------- */

@layer utilities {
  .loader-spinner {
    animation: loaderSpinnerRotate 1s infinite;
    height: 50px;
    width: 50px;
  }
  .loader-spinner:before,
  .loader-spinner:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader-spinner:before {
    animation: loaderSpinnerBall1 1s infinite;
    background-color: #acf9f3;
    box-shadow: 30px 0 0 #e9acf9;
    margin-bottom: 10px;
  }
  .loader-spinner:after {
    animation: loaderSpinnerBall2 1s infinite;
    background-color: #e9acf9;
    box-shadow: 30px 0 0 #acf9f3;
  }
}

@keyframes loaderSpinnerRotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes loaderSpinnerBall1 {
  0% {
    box-shadow: 30px 0 0 #e9acf9;
  }
  50% {
    box-shadow: 0 0 0 #e9acf9;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #e9acf9;
    margin-bottom: 10px;
  }
}

@keyframes loaderSpinnerBall2 {
  0% {
    box-shadow: 30px 0 0 #acf9f3;
  }
  50% {
    box-shadow: 0 0 0 #acf9f3;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #acf9f3;
    margin-top: 0;
  }
}

/* ------------------------------------------------------------------------- */

.loader-atomic {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #acf9f3;
}
.loader-atomic:before,
.loader-atomic:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s loaderAtomicSpin linear infinite;
}
.loader-atomic:after {
  color: #e9acf9;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes loaderAtomicSpin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

/* ------------------------------------------------------------------------- */

.loader-gear {
  width: 60px;
  height: 40px;
  position: relative;
  display: inline-block;
  --base-color: #1e1e2f; /*use your base color*/
}
.loader-gear::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #e9acf9;
  background-image: radial-gradient(
      circle 8px at 18px 18px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 18px 0px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 0px 18px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 36px 18px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 18px 36px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 30px 5px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 30px 5px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 30px 30px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 5px 30px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 5px 5px,
      var(--base-color) 100%,
      transparent 0
    );
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: loaderGearRotationBack 3s linear infinite;
}
.loader-gear::after {
  content: "";
  left: 35px;
  top: 15px;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #acf9f3;
  background-image: radial-gradient(
      circle 5px at 12px 12px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 12px 0px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 0px 12px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 24px 12px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 12px 24px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 20px 3px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 20px 3px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 20px 20px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 3px 20px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 3px 3px,
      var(--base-color) 100%,
      transparent 0
    );
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: loaderGearRotationBack 4s linear infinite reverse;
}

@keyframes loaderGearRotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
